* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    color: var(--text);
    background: var(--bg);
    line-height: 1.618;
    /* Golden Ratio */
    overflow-x: hidden;
}


a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}